@font-face {
  font-family: 'Balboa';
  src: url('./fonts/FontsFree-Net-Balboa-W01-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Unit Slab', serif;
  text-align: center;
  background-color: #008B47;
}

/* Estrutura principal */
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

/* Seções diagonais */
.diagonal {
  width: 100%;
  height: 25vh;
  transform: skewY(-10deg);
  position: relative;
}

.blue {
  background-color: #0D47A1;
}

.green {
  background-color: #008B47;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 5vh 0;
}

.red {
  background-color: #E53935;
}

/* Container do conteúdo principal */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
}

.text-container {
  flex: 1;
  text-align: left;
  color: #F7DF1E;
}

.subtitle {
  font-family: 'Balboa', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.title {
  font-family: 'Balboa', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.author {
  font-family: 'Balboa', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.stella-image {
  width: 250px;
  height: auto;
  filter: grayscale(100%);
}

/* Links */
.links {
  margin-top: 20px;
}

.nav-link {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #F7DF1E;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Páginas One e Two */
.page-section {
  width: 100%;
  padding: 50px 0;
}
